PORT=5000
JWT_SECRET=changeme

POSTGRES_USER=vendaplus_user
POSTGRES_PASSWORD=changeme
POSTGRES_DB=vendaplus_db

DATABASE_URL=postgresql://vendaplus_user:changeme@database:5432/vendaplus_db?schema=public

