services:
  app:
    build:
      context: .
      dockerfile: dockerfile
    container_name: vendamais_backend
    depends_on:
      - database
    working_dir: /app
    env_file:
      - .env 
    volumes: 
    - .:/app
    - /app/node_modules
    expose:
      - "3000"
    ports: 
    - "3000:3000" 
    command: "npm run dev"

  database:
    image: "postgres:17.5-alpine"
    container_name: vendamais_db
    restart: unless-stopped
    env_file:
    - .env
    ports: 
    - "5432:5432"
    
volumes:
   pgdata:
  